<!DOCTYPE html>
<html ng-app="followersApp" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Followers</title>
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body ng-controller = 'followersCtr'>
  <h2 class="mtitle">Followers</h2>
  <script src="https://code.angularjs.org/1.5.3/angular.js"></script>
  <script src="index.js"></script>

  <div class="main">
  		<div class="row">
		  	<div class="col-sm-3 follower" ng-repeat="user in users" ng-click="follows(user.login)" data-toggle="modal" data-target="#myModal">
		  		<img src="{{user.avatar_url}}">
		  		<h4>{{user.id+' - '+user.login}}</h4>
		  	</div>
	    </div>	
  </div>

  
</body>
</html>
