html,
body { font-family: 'Varela Round', sans-serif !important; }

a:active, 
a:hover,
a:focus { text-decoration: none !important; }

.git-logo {
    background-image: url(/assets/git-logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.header {
    margin-bottom: 50px;
    background-color: #283e4a;
}

.header-content {
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.header-content .git-logo {
    display: inline-block;
    width: 70px;
    height: 70px;
}

.header-content .main-title {
    display: inline-block;
    margin: 7px 27px;
    font-size: 48px;
    font-weight: 900;
    color: white;
    text-align: center;
    border-width: 0 0 4px;
    border-style: solid;
}

.users-section .user-content {
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.users-section .user-content:hover { transform: scale(1.1); }

.users-section .user-content .img-avatar { 
    width: 100%; 
    border-radius: 80%;
}

.users-section .user-content h2 { margin: 10px 0 30px; }

.users-section .user-content h2 a {
    display: block; 
    font-size: 20px;
    font-weight: 600;
    color: #283e4a;
    text-align: center;
}

.modal-followers .modal-header { background-color: #283e4a; }

.modal-followers .modal-header .modal-title {
    color: white;
    text-align: center;
}

.modal-followers .modal-header .git-logo {
    position: relative;
    top: 5px;
    margin-right: 10px;
    display: inline-block;
    width: 30px;
    height: 30px;
}

.modal-followers .modal-header .close {
    font-size: 30px;
    color: white;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    opacity: 1;
}

.modal-followers .modal-header .close:hover { transform: scale(1.1); }

.modal-followers .follower-content .img-avatar {  
    width: 100%;
    border-radius: 80%;
}

.modal-followers .follower-content .follower-name {
    margin-bottom: 30px;
    font-size: 18px;
    color: #283e4a;
    text-align: center;
}

.modal-followers .modal-footer .btn-modal-close {
    display: block;
    margin: 0 auto;
    width: 130px;
    height: 40px;
    font-size: 14px;
    font-weight: 400;
    color: white;
    text-shadow: 0 0 0 transparent;
    background-color: #283e4a;
    background-image: none;
    border: 1px solid #283e4a;
    border-radius: 10px;
    box-shadow: none;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.modal-followers .modal-footer .btn-modal-close:hover {
    color: #283e4a;
    background-color: white;
    transform: scale(1.1);
}

.modal-followers .modal-header .close:focus,
.modal-followers .modal-header .close:active,
.modal-followers .modal-header .close:hover,
.modal-followers .modal-footer .btn-modal-close:focus,
.modal-followers .modal-footer .btn-modal-close:active,
.modal-followers .modal-footer .btn-modal-close:hover { outline: 0; }