<div class="list-group">
  <div class="user col-sm-12 col-md-8 col-md-offset-2 list-group-item">
    <div class="avatar col-xs-6">
      <img ng-src="{{ $ctrl.user.avatar_url }}" alt="" class="img-thumbnail">
      <h2>{{ $ctrl.user.login }}</h2>
    </div>
    <div class="info col-xs-6">
      <ul class="list-group">
        <li class="list-group-item"><span class="badge">{{ $ctrl.user.followers }}</span>
          Followers:
        </li>
      </ul>
      <ul class="list-group">
        <li class="list-group-item"><span class="badge">{{ $ctrl.user.following }}</span>
          Following:
        </li>
      </ul>
    </div>
  </div>
</div>
